var out={
    assetBucket:"",
    assetPrefix:"BYOD",
    namespace:"dev",
    profile:"default",
    region:"us-east-1",
    parameters:{
    }
}
out.parameters.AssetBucket=out.assetBucket
out.parameters.AssetPrefix=out.assetPrefix

module.exports=out
